@model IEnumerable<Hotel.Models.Reserva>
@{
    ViewData["Title"] = "Índice de Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Reservas/modalDetailsReservas.css">
<link rel="stylesheet" href="~/css/Reservas/modalsGlobalReservas.css">
<link rel="stylesheet" href="~/css/Reservas/indexReserva.css">

<div class="containerindexReserva">
    <div class="header">
        <h1>Gestión de Reservas</h1>
        <div class="containerActions">
            <a href="@Url.Action("Create", "Reservas")" class="button"><i class="fas fa-plus"></i>Crear Nueva
                Reserva</a>
            <div class="search-container">
                <input checked="" class="checkbox" type="checkbox">
                <div class="mainbox">
                    <div class="iconContainer">
                        <svg viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg" class="search_icon">
                            <path
                                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z">
                            </path>
                        </svg>
                    </div>
                    <input class="search_input" placeholder="Buscar reservas..." type="text" id="searchInput">
                </div>
            </div>
        </div>

    </div>

    @if (Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Fecha de Inicio - Fecha de Fin</th>
                    <th>Habitación</th>
                    <th>Acompañantes</th>
                    <th>Acciones</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var pagoPendiente = !item.Pagos.Any() || item.Pagos.Any(p => p.Estado == "Pendiente");
                    <tr>

                        <td>@(item.Usuario?.NombreUsuario ?? "N/A")</td>
                        <td>@item.Usuario?.Nombre</td>
                        <td>@item.FechaInicio.ToShortDateString() - @item.FechaFin.ToShortDateString()</td>
                        <td>@item.Habitacion?.NumeroHabitacion</td>
                        <td>@(item.NumeroAcompanantes.HasValue ? item.NumeroAcompanantes.ToString() : "No tiene acompañantes")
                        </td>
                        <td>
                            <button onclick="loadDetailsModal('@item.Id')" class="btn btn-info">
                                <span class="iconify icon-search" data-icon="line-md:search-filled" data-inline="false"
                                    data-rotate="auto"></span>
                            </button>
                            <button class="btn @(pagoPendiente ? "btn-danger" : "btn-pay")">
                                <span class="iconify icon-search" data-icon="mdi:currency-usd" data-inline="false"></span>
                            </button>


                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay reservas disponibles.</p>
    }

    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeEditModal()">&times;</span>
            <div class="modal-body">
                <div id="editFormContainer"></div>
            </div>
        </div>
    </div>

    <!-- Modal para detalles -->
    <div id="detailsModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeDetailsModal()">&times;</span>
            <div class="modal-body">
                <div id="detailsContainer"></div>
            </div>
        </div>
    </div>



</div>

@section Scripts {
    <script src="~/js/scriptReservas/indexReserva.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
